@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes openEnvelope {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-openEnvelope {
  animation: openEnvelope 1s forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

